


@media (max-width: 576px) and (max-whith:765px) {
    .style {
        padding-top: 40px;
        text-align: center;
    }

    .style h2 {
        font-size: 30px;
        color: white;
        text-align: center;
    }

    .vlaue .helper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
    }

    .help {
        margin-top: 35px;
    }

    .hr {
        display: block;
        color: bisque;
    }

    .overbox {
        display: flex;
        justify-content: center;
    }

}


@media (max-width: 768px) and (max-width:991px){
    .style {
        padding-top: 50px;
        text-align: center;
    }

    .style h2 {
        font-size: 40px;
        color: white;
        text-align: center;
    }

    .main h1 {
        text-align: center;
        padding-bottom: 10px;
    }

    .main p {
        text-align: center;
    }

    .main {
        position: relative;
    }

    /* html_2  */
    .banner_2 {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .banner_2 .title-1 {
        font-size: 30px;
        color: #fff;
    }

    .banner_2 .title_2 {
        margin-top: 0;
        font-size: 30px;
        color: #fff;
    }

    .hr {
        display: block;
        color: bisque;
    }

    .responce {
        text-align: center;
        margin-bottom: 6px;
    }

    .input_over {
        position: relative;
    }

    /* button action css  */
    .round {
        padding: 10px;
        font-size: 15px;
        display: inline-block;
        margin-top: 8px;
    }

    .overbox {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

}

@media (max-width: 992px) {
    .hr {
        display: block;
        color: bisque;
    }

    .responce {
        text-align: center;
        margin-bottom: 6px;
    }

    .input_over {
        position: relative;
    }

    .overbox {
        margin-top: 80px;
    }

};